# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
coverage/

# Env
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.code-workspace

# Misc
logs/
*.log

